html, body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}




#fp-nav.right{margin-top: -200px !important;}
/* #fp-nav ul, .fp-slidesNav ul{} */

header{
	padding: 1% 14% 1% 14%;
	background-color: #08020d;
}

#myNavbar{padding-top: 15px;}
#myNavbar img{float: left;}
#myNavbar p{float: right; margin-top: 5px; margin-left: 10px; margin-right: 30px;}

.navbar{margin-bottom: 0px;}

.icon{
	display: inline-block;
	cursor: pointer;
}

.icon img{
	width: 150px;
	height: 60px;
}

.menu{
	float: right;
	display: inline-block;
	padding: 16px 0px 16px 18px;
}

.menu button{
	background-color: transparent;
	color: #fff;
	vertical-align: middle;
	border: 0.5px solid #939393;
	border-radius: 18px;
	margin-right: 20px;
	padding: 6px 25px 6px 25px;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0px 0px 16px #b2497d;
}

.menu button:hover{
	box-shadow: 0px 0px 35px #b2497d;
}

nav{
	padding: 0.1px;
}

.navbar{
	border-radius: 1px;
}

ul{
	list-style-type: none;
	color: #fff;
	text-align: center;
}

a{
	cursor: pointer;
	text-decoration: none;
}

a:link{
	color: #fff;
}

a:visited {
	color: #fff;
}

a:active{
	color: #cccc00;
}

a:hover{
	color: #cccc00;
}

ul li{
	display: inline-block;
}

li img{
	width: 35px;
	height: 28px;
}

div.inline-text{
	display: inline;
	vertical-align: 8px;
	padding-left: 4px;
	margin-right: 30px;
}

section{
	padding-left: 14%;
	padding-right: 14%;
	padding-top: 5%;
	padding-bottom: 5%;
}

footer{
	padding: 30px 14%;
	background-image: url('../img/footer.png');
	background-size: cover;
}

.grid-container{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-gap: 0px;
}

.inline-div{
	display: inline-block;
	width: 120px;
	padding-left: 5px;
	vertical-align: 6px;
}

.font-3{
	color: #fff0f2;
	text-shadow: 2px 2px 35px #ff6a80;
	letter-spacing: 1px;
}

.table-1{
	width: 90%;
	color: #fff;
	text-align: left;
	padding: 5px;
	border-collapse: collapse;
	margin: 40px 0 1px;
	box-shadow: 0px 0px 6px #38eeff;
	margin-bottom: 200px;
}

.table-1 th{
	color: #00ffff;
	padding: 14px 0 14px 15px;
	background-color: #0a0f13;
	border-right: 0.1px solid #909090;
}

.table-1 tr:nth-child(even){
	background-color: #0f030f;
}

.table-1 tr:nth-child(odd){
	background-color: #1b081c;
}

.table-1 td{
	padding: 10px 0 10px 15px;
	color:#F3FFFF;
	text-shadow: 1px 1px 5px #0000FF;
	border-right: 0.1px solid #909090;
}

.table-responsive{border: none;}

ol{
	margin: 0;
	padding: 0;
}

.card-list li{
	list-style-type: none;
	display: inline-block;
	margin-right: 35px;
	margin-bottom: 35px;
}

.table-2{
	box-shadow: 0px 0px 6px #38eeff;
	padding: 5px 84px 5px 10px;
}

.table-2 td{
	color: #00fcff;
}

.table-font-1{
	color: #F3FFFF;
	text-shadow: 2px 2px 15px #0000FF;
	padding: 5px 8px;
	box-shadow: 0px 0px 6px #38eeff;
}

.td-1{
	padding: 7px;
}

.td-2{
	padding-right: 0px;
	padding-left: 0px;
}

.td-3{
	padding-bottom: 8px;
}


.login{
	color: #fff;
	display: inline-block;
	width: 50%;
	padding-right: 100px;
}

.font-4{
	color: #fff;
	text-shadow: 0px 0px 20px #b2497d;
	font-size: 36px;
	font-weight: 900;
}

.login img{
	width: 30px;
	vertical-align: -5px;
}

.form-1{
	margin: 15px 0;
	padding: 30px;
	box-shadow: 0px 0px 6px #38eeff;
	background-color: rgba(0, 0, 0, 0.4);
}

form{
	font-size: 15px;
	color: #F3FFFF;
    text-shadow: 1px 1px 5px #0000FF;
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
	color: #fff;
	font-size: 20px;
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid #8b1a89;
	box-shadow: 0px 0px 5px #8b1a89;
	padding: 6px;
	width: 200px;
	margin: 10px 5px;
}

input[type="submit"] {
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	border-radius: 20px;
	width: 130px;
	padding: 6px 10px;
	margin: 15px 10px 0 0;
	background-color: transparent;
	border: 0.5px solid #f2cf1b;
	box-shadow: 0px 0px 6px #f2cf1b;
}

.register{
	display: inline-block;
/*	margin-left: 80px;*/
	vertical-align: top;
}

.register img{
	width: 32px;
	vertical-align: -5px;
}

table{padding: 5px;}

.table-font-1{width: 100%; margin-bottom: 50px; padding: 5px;}


.coins1{float: left; margin-left: -150px; width: 55%;}

.coins2{float: right; margin-right: 0px; margin-top: -480px; width: 55%;}



@media screen and (max-width: 400px) {
	
	section{
	height: auto !important;
	}
	
	#fp-nav.right{right:25px;}
	.linumber{margin-left: 6px;}
	#fp-nav ul, .fp-slidesNav ul{margin-top: 10px;}
	#fp-nav.right{margin-top: -180px !important;}
	.footer2 h3{
	margin-bottom: 50px;
	}
	#fp-nav ul li a.active span .linumber, .fp-slidesNav ul li a.active span .linumber, #fp-nav ul li:hover a.active span .linumber, .fp-slidesNav ul li:hover a.active span .linumber{margin-left: -35px;}
	
	section {
    padding: 10px 14%;
}

.coins1{display: none;}
.coins2{display: none;}

    .grid-container{display: block; margin-top: 10px;}
	.space11{padding-top: 0px; padding-left: 0px; }

	.table-1{margin-bottom: 0px;}

	.table-2{margin-top: 100px;}
.table-font-1{width: 100%; margin-bottom: 10px; padding: 5px;}

.footer1{padding-top: 250%;}

.footer2{padding-top: 15px;}
.login{margin-left: 0px;
margin-top: 0px;}

.form-1{padding: 15px;}

input[type="text"], input[type="password"], input[type="number"]{margin: 0px;}

.login{width: 100%; padding-right: 0px;}
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@-o-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
	-webkit-animation-name: fadeBgColor;
	-moz-animation-name: fadeBgColor;
	-o-animation-name: fadeBgColor;
	animation-name: fadeBgColor;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}
