.fp-tableCell{
	vertical-align: inherit;
}
section{
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

section:nth-child(1) {
	background-image: url(../home/bg.jpg);
}

section:nth-child(2) {
	background-image: url(../home/bg2.jpg);
}

section:nth-child(3) {
	background-image: url(../home/bg3.jpg);
}

section:nth-child(4) {
	background-image: url(../home/bg4.jpg);
}

section:nth-child(5) {
	background-image: url(../home/bg5.jpg);
}

section:nth-child(6) {
	background-image: url(../home/bg6.jpg);
}

section:nth-child(7) {
	background-image: url(../home/bg7.jpg);
}

section:nth-child(8) {
	background-image: url(../home/bg8.jpg);

}

