@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);



/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: white;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}

/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*nav ul{
	height: 100% 86%;
}*/

/*********tejas**********/
.no-margin{
	height: 1000px;
	z-index: 9;
	padding: 0;
}

.vertical-scrolling{
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.vertical-scrolling:nth-child(1) {
	background-image: url(../home/bg.jpg);
}

.vertical-scrolling:nth-child(2) {
	background-image: url(../home/bg2.jpg);
}

.vertical-scrolling:nth-child(3) {
	background-image: url(../home/bg3.jpg);
}

.vertical-scrolling:nth-child(4) {
	background-image: url(../home/bg4.jpg);
}

.vertical-scrolling:nth-child(5) {
	background-image: url(../home/bg5.jpg);
}

.vertical-scrolling:nth-child(6) {
	background-image: url(../home/bg6.jpg);
}

.vertical-scrolling:nth-child(7) {
	background-image: url(../home/bg7.jpg);
}

.vertical-scrolling:nth-child(8) {
	background-image: url(../home/bg8.jpg);

}
/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* section {
  background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / 100% 86%;
} */

h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
	margin: 0; font-size: 40px; color:#F3FFFF; text-shadow: 1px 1px 5px #0000FF
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}

.col-sm-6{padding-left: 0px; padding-right: 0px;}

.space11{padding-top: 50px; padding-left: 15px;}

/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: white;
	width: 1px;
	height:55px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 4px;
	height: 55px;
	margin: -2px 0 0 -2px;
	background: purple;
	box-sizing: border-box;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{border-radius: 5px;}

#fp-nav ul li, .fp-slidesNav ul li{height: 50px;}

#fp-nav ul li a span, .fp-slidesNav ul li a span{border-radius: 5px;}

section button{    
	background-color: transparent;
    color: #fff;
    vertical-align: middle;
    border: 0.5px solid #939393;
    border-radius: 18px;
    margin-right: 20px;
    padding: 6px 25px 6px 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 16px yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

section h1{
	font-size: 53px;
	font-weight: bold;
	text-shadow: 1px 1px 5px #f953c6;
}

section p{
	font-size: 20px;
}

.section1 h1{padding-left: 8%;}
.section1 p{padding-left: 8%;margin-top: 100px; }

.mobile-nav{
		display: none;
	}

.row{padding: 0px;}
.col-sm-4{width: 33.3333%; float: left;}
.mobile-navbtn{padding: 1px; background-image: linear-gradient(to right top, #090025, #140127, #1c0229, #240229, #2d0028)}	
.mobile-navbtn button{
	width: 100%;
	background-color: transparent;
    color: #fff;
    border: 0.5px solid #939393;
    border-radius: 18px;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 16px yellow;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footersection .p1{color:#F3FFFF; text-shadow: 1px 1px 5px #0000FF; width: 90%}

.footersection .p2{text-align: center; font-size: 30px; margin-top: 100px; color: #ffffba; text-shadow: 1px 1px 1px #CFB53B}

.footersection img{margin-top: -30px;}


.img1{width: 60%; margin-top: -80px;}
.h11{margin-top: -40px;}
.img2{width: 60%; margin-top: -80px;}
.h12{margin-top: -20px;}


.linumber{    margin-left: 15px; font-size: 25px; font-weight: bold;
    margin-top: -5px;}
	
#fp-nav.right{right: 50px;}

#fp-nav ul li a.active span .linumber,
.fp-slidesNav ul li a.active span .linumber,
#fp-nav ul li:hover a.active span .linumber,
.fp-slidesNav ul li:hover a.active span .linumber{margin-left: -55px; color: purple;}

button:hover{text-shadow: 2px 2px 20px yellow;}

button {
 -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% {-webkit-box-shadow: 0 0 3px #B20000; }
  50% { -webkit-box-shadow: 0 0 40px #993f6c; }
  100% { -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% {-moz-box-shadow: 0 0 3px #B20000; }
  50% {-moz-box-shadow: 0 0 40px #993f6c; }
  100% {-moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% {box-shadow: 0 0 3px #B20000; }
  50% {box-shadow: 0 0 40px #993f6c; }
  100% {box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { box-shadow: 0 0 3px #B20000; }
  50% {  box-shadow: 0 0 40px #993f6c; }
  100% { box-shadow: 0 0 3px #B20000; }
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
	nav ul {
		flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}

  nav li a {
    font-size: 1.5em;
  }

  .scroll-icon {
    display: none;
  }




}

	.lottery{
		height: 1220px;
	}

	.sec-8{
		width: 100%;
	}

	.promotion{
		height: 3350px;
	}

	.col-sm-6 h2{   
	font-weight: bold;
    text-shadow: 1px 1px 5px #f953c6;
	text-transform: uppercase;
	font-size: 50px;
	}

.footer_icon{
width: 42px; height: 42px;
}

@media screen and (max-width: 600px) {
	
	
	
	  html {
	    font-size: 50%;
	  }

	  .coins2{
	  	display: none;
	  }
section{
	padding: 15px !important;
}

.coins1{
	display: none;
}

  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}

	section h1{
		font-size: 20px;
	}

	section p{
		font-size: 11px;
		letter-spacing: 1px;
	}

	.lottery{
		height: 2050px;
	}

	.sec-8{
		width: 91%;
	}

	.promotion{
		height: 3800px;
	}

	.section1 h1{padding-left: 2%;}
	.section1 p{padding-left: 2%;margin-top: 0px; }

	.home-section{display: none;}

	.mobile-nav{
		display: block;
	}

	.row{margin-right: 0px; margin-left: 0px;}

	.mobile-nav .col-sm-4{padding-left: 5px; padding-right: 5px;}

	.vertical-scrolling:nth-child(1){
		background-size: 700px 100%;
	}

	ul li{
		display: block !important;
	}
	ul{text-align: left!important; padding-left:80px!important; }

	
	.col-sm-6 h2{font-size:18px;}
	
	h1, h2{margin-top: 0px;}
	section button{margin-bottom: 10px; margin-top: 0px;}
	h3{font-size: 13px; margin-top: 5px;}

	.footersection .p1{width: 100%; font-size: 10px;}

    .footersection .p2{ font-size: 18px;margin-top: 10px;}

    .img1{margin-top: -34px; width: 50% !important;}
	.h11{font-size: 20px;}
	.img2{margin-top: -30px; width: 50% !important;}
	.h12{font-size: 20px;}
	
	#fullpage .col-sm-6 img{
	width: 70%;
	}
.footer_icon{
width: 30px; height: 30px;
}
}
